<form id='user-form'>
  <fieldset>
    <div class="user-form-input-group">
      <div class="form-group">
        <label for="daysToExpiry">Days to Expiry</label>
        <input type="number" class="form-control" id="daysToExpiry" placeholder="Days" value="365">
      </div>
      <div class="form-group">
        <label for="strike">Strike Price</label>
        <input type="number" class="form-control" id="strike" placeholder="Strike" value="150">
      </div>
      <div class="form-group">
        <label for="spot">Underlying Price</label>
        <input type="number" class="form-control" id="spot" placeholder="Underlying" value="100">
      </div>
      <div class="form-group">
        <label for="riskFreeRate">Risk free rate</label>
        <input type="number" class="form-control" id="riskFreeRate" placeholder="Risk free" value="0.05">
      </div>
      <div class="form-group">
        <label for="volatility">Volatility</label>
        <input type="number" class="form-control" id="volatility" placeholder="Volatility" value="0.5">
      </div>
    </div>
    <div id="js-form-submit" type="submit" class="user-form-submit-btn">Calculate</button>
  </fieldset>
</form>
<div id="optionsValue"></div>